body{
    margin:0;
  
}
*{
    box-sizing: border-box;
}

.videostramer{
    width: 100vm;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoshow{
    height:100%;

}
.audio{
    display: none;
}
.record_parent{
    width: 80px;
    height: 80px;
    border: solid white;
    right:100px;
    top:300px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record-video{
    border-radius: 50%;
    width: 20px;
    height: 20px;

    position:fixed;

}