body {
    margin: 0px;
    overflow:hidden;
}
.color1{
margin-bottom: 10px;

}
.tools {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}
.parent{
border: 3px solid;
height: 3rem;
width: 30rem;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.color{
height: 70%;
width: 15%;
background: red;
}
.black{
background-color: black;

}
.red{
background-color: red;
}
.blue{
background-color: blue;
}
.green{
background-color: green;
}
.yellow{
background-color: yellow;
}
.board{
    position:relative;
}
.eraser{

    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{

    size: 7rem;
}
.newpage{

    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.downpdf{

    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}